.picStyle {
  display: flex;
  flex-direction: column;
  padding-right: 50px;
  gap: 20px;
}
.uploadButton {
  background-color: aliceblue;
  border: solid rgb(148, 205, 254) 1px;
  border-radius: 5px;
  width: 7vw;
  height: 3vh;
}
.pic {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  background-color: aliceblue;
}
